# Ignore node_modules folder
node_modules

# Ignore build output folder
dist

# Ignore development files
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Ignore logs
logs
*.log

# Ignore temporary files
*.swp
*.swo
*.tmp
*.bak
*.backup
*.cache
*.DS_Store

# Ignore editor specific files
.vscode
.idea
*.sublime*
*.swp
*.swo
*.tmp
*.bak
*.backup
*.cache
*.DS_Store